<div class="pagination" fxLayoutAlign="end center">
    <pagination-controls previousLabel="Előző" nextLabel="Következő" (pageChange)="onDataChange($event)">
    </pagination-controls>
</div>

<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="150">
    <div class="card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10" *ngFor="
        let acco of accommodations | paginate: {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: itemCount };">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10">
            <div class="bal" fxLayout="column" fxLayoutAlign="end start">
                <div class="bal1" fxLayout="column" fxLayoutAlign="center start">
                    <p class="name">{{(acco.name.length > 25) ? (acco.name | slice:0:25) + '...' : acco.name}}</p>
                    <p class="place">{{(acco.place.length > 30) ? (acco.place | slice:0:30) + '...' : acco.place}}</p>
                </div>
                <div><img src="./assets/img/budapest.jpg"></div>
            </div>

            <div class="jobb" fxLayout="column" fxLayoutAlign="start">
                <div class="elsosor" fxLayout="column" fxLayoutAlign="start">
                    <p class="cim">Leírás:</p>
                    <p class="content">{{acco.description}}</p>
                </div>

                <div class="masodiksor" fxLayout="column" fxLayoutAlign="start">
                    <p class="cim">Információk:</p>
                    <p class="content">{{acco.information}}</p>
                </div>

                <div class="harmadiksor" fxLayout="column" fxLayoutAlign="start">
                    <p class="cim">Szolgáltatások:</p>
                    <div class="services" fxLayout="row" fxLayoutAlign="start start">
                        <mat-chip-list *ngFor="let service of acco.services">
                            <mat-chip color="accent" selected>{{service}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="moreinfo">
            <div fxLayout="row">

                <div class="more1" fxLayout="column">
                    <h2>Bejelentés időtartama</h2>
                    <h3 *ngIf="acco.res_end_date == '2025-01-01T00:00:00.000Z'">nincs*</h3>
                    <h3 *ngIf="acco.res_end_date != '2025-01-01T00:00:00.000Z'">{{(acco.res_end_date.length > 10) ?
                        (acco.res_end_date | slice:0:10) : acco.res_end_date}}</h3>
                </div>

                <div class="more2" fxLayout="column">
                    <h2>Árak</h2>
                    <h3>felnőtt: {{acco.adult_price}} HUF <br>
                        gyerek: {{acco.adult_price}} HUF</h3>
                </div>

                <div fxLayout="column">
                    <h2>Elérhetőség</h2>
                    <h3>E-mail: {{acco.user.e_mail}}<br>
                        Telefonszám: {{acco.phone_number}}
                    </h3>
                </div>

                <div class="buttons" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10">
                    <button mat-button class="confirm" (click)="confirmAccommodation(acco.id)">Elfogad</button>
                    <button mat-button class="delete" (click)="deleteAccommodation(acco.id)">
                        <mat-icon aria-hidden="false">
                            block
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>