<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10">

        <img src="./assets/img/budapest.jpg">
        <div fxLayout="column" fxLayoutAlign="start">
            <p class="name">{{(this.accommodation!.name.length > 50) ? (this.accommodation!.name | slice:0:50) + '...' :
                this.accommodation!.name}}</p>
            <p class="place">{{this.accommodation!.place}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Leírás:</p>
            <p>{{(this.accommodation!.description.length > 120) ? (this.accommodation!.description | slice:0:120) +
                '...' : this.accommodation!.description}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Információk:</p>
            <p>{{(this.accommodation!.information.length > 120) ? (this.accommodation!.information | slice:0:120) +
                '...' : this.accommodation!.information}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Szolgáltatások:</p>
            <div class="services" fxLayout="row" fxLayoutAlign="start start">
                <mat-chip-list *ngFor="let service of this.accommodation!.services">
                    <mat-chip color="accent" selected>{{service}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <button mat-button>Vissza</button>
    </div>

    <div class="card2" fxLayout="column" fxLayoutAlign="start start">
        <div class="sor2" fxLayout="column" fxLayoutAlign="start start" fxFlex="260px">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon>
                <p class="name2">További információ</p>
               </div>
            <p class="cim2">Árak / éjszaka:</p>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20">
                <p class="sor3">Felnőtt: {{this.accommodation!.adult_price}} HUF</p>
                <p>Gyermek: {{this.accommodation!.child_price}} HUF</p>
            </div>
            <p class="cim2">Telefonszám:</p>
            <p class="sor3">{{this.accommodation!.phone_number}}</p>
        </div>
        <div class="sor2" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon>
                <p class="name2">Foglalási adatok</p>
               </div>
            <form #formDirective="ngForm" [formGroup]="reserveForm" (ngSubmit)="reserveButton(formDirective)">
                <p class="cim2">Vendégek száma:</p>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                    <mat-form-field appearance="outline">
                        <mat-label>Felnőttek</mat-label>
                        <input matInput type="number" name="adults" formControlName="adults" min="1" max="10" />
                        <mat-error *ngIf="adults.invalid">
                            {{ adults.errors! | appErrors }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Gyerekek</mat-label>
                        <input matInput type="number" name="children" formControlName="children" min="0" max="10" />
                        <mat-error *ngIf="children.invalid">
                            {{ children.errors! | appErrors }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <p class="cim2">Érkezés és távozás:</p>

                <mat-form-field class="picker" appearance="outline">
                    <mat-date-range-input [rangePicker]="picker" [min]="myDate"
                        [max]="this.accommodation!.res_end_date">
                        <input matStartDate name="start_date" formControlName="start_date">
                        <input matEndDate name="end_date" formControlName="end_date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker color="primary" #picker></mat-date-range-picker>
                    <mat-error *ngIf="end_date.invalid">
                        {{ end_date.errors! | appErrors }}
                    </mat-error>
                </mat-form-field>

                <div class="sor2" fxLayout="column" fxLayoutAlign="start start">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon>
                            <p class="name3">Fizetés:</p>
                           </div>
                        <p class="ár" *ngIf="((end_date.value - start_date.value)/86400000)*(this.accommodation!.child_price * children.value +
                        this.accommodation!.adult_price * adults.value) > 0">{{((end_date.value -
                            start_date.value)/86400000)*(this.accommodation!.child_price * children.value +
                            this.accommodation!.adult_price * adults.value)}} HUF</p>
                    </div>
                    <mat-form-field class="cardnum" appearance="outline">
                        <mat-label>Kártya szám</mat-label>
                        <input [value]="cardnum" matInput type="text" />
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center">
                        <mat-form-field class="slim" appearance="outline">
                            <mat-label>Lejárati dátum</mat-label>
                            <input [value]="carddate" matInput type="text" />
                        </mat-form-field>
                        <mat-form-field class="slim" appearance="outline">
                            <mat-label>CVC</mat-label>
                            <input [value]="cardcvc" matInput type="text" />
                        </mat-form-field>
                    </div>
                </div>

                <button class="reserve" mat-raised-button>Foglalás</button>
            </form>
            <form [formGroup]="reserveForm"></form>
        </div>
    </div>
</div>