form {
    width: 100%;
    min-width: 600px;
}

h1 {
    margin-bottom: 40px;
    border-bottom: 3px solid rgba(20, 104, 58, 0.877);
}

h2 {
    margin-top: 30px;
    align-self: flex-start;
}

mat-icon {
    color: rgba(20, 104, 58, 0.877);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.services {
    background-color: #F5F5F5;
    flex-wrap: wrap;
}

.service {
    flex: 1 0 21%;
    margin: 5px;
    height: 30px;
}

mat-card {
    min-height: 230px;
    max-height: 230px;
}

button[mat-raised-button] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: inherit;
    background-color: rgba(20, 104, 58, 0.877);
    color: white;
}

.imgprew {
    margin-top: 20px;
    min-height: 215px;
    max-height: 215px;
    min-width: 500px;
    max-width: 500px;
    border: 1px solid black;
    margin-left: -160px;
    border-radius: 5px;
}

.imgprew img {
    //height: 100%;
    min-height: 215px;
    max-height: 215px;
    width: 100%;
    border-radius: 5px;
}

button[mat-stroked-button] {
    height: 40px;
    margin-left: 85px;
}

p {
    margin-top: 102px;
    margin-left: 30px;
    font-size: large;
    font-weight: lighter;
    font-style: italic;
}

b {
    font-weight: 500;
}

input[type="file"] {
    visibility: hidden;
}