<div class="pagination" fxLayoutAlign="end center">
    <pagination-controls previousLabel="Előző" nextLabel="Következő" (pageChange)="onDataChange($event)">
    </pagination-controls>
</div>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="45">
    <div class="card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10" *ngFor="
        let acco of accommodations | paginate: {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: itemCount };">

        <img src="./assets/img/budapest.jpg">
        <div fxLayout="column" fxLayoutAlign="start">
            <p class="name">{{(acco.name.length > 50) ? (acco.name | slice:0:50) + '...' : acco.name}}</p>
            <p class="place">{{acco.place}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Leírás:</p>
            <p>{{(acco.description.length > 120) ? (acco.description | slice:0:120) + '...' : acco.description}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Információk:</p>
            <p>{{(acco.information.length > 120) ? (acco.information | slice:0:120) + '...' : acco.information}}</p>
        </div>
        <div class="sor" fxLayout="column" fxLayoutAlign="start">
            <p class="cim">Szolgáltatások:</p>
            <div class="services" fxLayout="row" fxLayoutAlign="start start">
                <mat-chip-list *ngFor="let service of acco.services">
                    <mat-chip color="accent" selected>{{service}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <button *ngIf="isLoggedIn" mat-button [routerLink]="['../accommodations/' + acco.id]">MEGTEKINTÉS</button>
        <button *ngIf="!isLoggedIn" mat-button matTooltip="Bejelentkezés szükséges" matTooltipPosition="right"
            class="disabled">MEGTEKINTÉS</button>
    </div>
</div>