.services {
    flex-wrap: wrap;
}

mat-chip {
    flex: 1 0 21%;
    margin: 5px;
    height: 30px;
}

.pagination {
    max-height: 55px;
}

img {
    min-height: 260px;
    max-height: 260px;
    min-width: 348px;
    max-width: 348px;
    border-bottom: 1px solid black;
}

.cards {
    max-width: 350px;
}

.card {
    min-height: 780px;
    max-height: 780px;
    min-width: 350px;
    max-width: 350px;
    border: 1px solid black;
    margin-bottom: 30px;
}

p {
    font-size: large;
    font-weight: lighter;
}

.name {
    margin-left: 5px;
    font-size: x-large;
    font-weight: 500;
    color: rgba(20, 104, 58, 0.877);
}

.place {
    margin-left: 10px;
    margin-top: -10px;
    font-size: medium;
    font-style: italic;
}

.cim {
    font-weight: 500;
}

.sor {
    max-width: 348px;
    min-height: 120px;
    min-height: 120px;
    margin-left: 5px;
}

button {
    margin-left: 112px;
    background-color: rgba(20, 104, 58, 0.877);
    color: white;
}