<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 3" [value]="option">
        {{option}}
    </mat-option>
</mat-autocomplete>

<mat-toolbar class="searchbar-container" fxLayout="column" fxLayoutAlign="center start">
    <mat-toolbar class="searchbar">
        <input class="search" matInput type="text" name="search" [formControl]="myControl" [matAutocomplete]="auto"
            onfocus="this.select()" placeholder="Írja be az úticélt" [(ngModel)]="searchText" />

        <mat-divider [vertical]="true"></mat-divider>

        <input class="date" matInput [(ngModel)]="dateText1" [min]="myDate" [matDatepicker]="picker1"
            (dateChange)="date1Changed()" placeholder="Érkezés napja">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>

        <input class="date" matInput [(ngModel)]="dateText" [disabled]="dateText1 == ''" [matDatepicker]="picker2"
            [min]="this.dateText1" placeholder="Távozás napja">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>

        <button *ngIf="searchText && dateText" mat-button class="search-button" [routerLink]="['search']"
            [queryParams]="{filter: formatSearchText(), date: formatDateText()}"
            (click)="clearSearch()">Keresés</button>

        <button *ngIf="searchText && !dateText" mat-button class="search-button" [routerLink]="['search']"
            [queryParams]="{filter: formatSearchText()}" (click)="clearSearch()">Keresés</button>

        <button *ngIf="!searchText && dateText" mat-button class="search-button" [routerLink]="['search']"
            [queryParams]="{date: formatDateText()}" (click)="clearSearch()">Keresés</button>

        <button *ngIf="!searchText && !dateText" mat-button class="search-button" [routerLink]="['search']"
            (click)="clearSearch()">Keresés</button>

    </mat-toolbar>
    <div class="button-container" fxLayout="row" fxLayoutAlign="end end">
        <!--<button mat-button class="search-button-alternative">Legkedveltebb szállások</button>-->
        <button mat-button class="random" (click)="randomIdButton()"> <mat-icon>search</mat-icon> Válassz nekem szállást!</button>
        <button mat-button class="random" (click)="randomIdWithFilterButton()"> <mat-icon>search</mat-icon> Válassz úticél
            szerint!</button>
    </div>
</mat-toolbar>