<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 3" [value]="option">
        {{option}}
    </mat-option>
</mat-autocomplete>

<mat-toolbar class="searchbar-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-toolbar class="searchbar">
        <input matInput type="text" name="search" [formControl]="myControl" [matAutocomplete]="auto" onfocus="this.select()" placeholder="Írja be az úticélt"
            [(ngModel)]="searchText" />
        <button *ngIf="!searchText" mat-button class="search-button" [routerLink]="['search']"
            (click)="clearSearch()">Keresés</button>

        <button *ngIf="searchText" mat-button class="search-button" [routerLink]="['search']"
            [queryParams]="{filter: formatSearchText()}" (click)="clearSearch()">Keresés</button>
    </mat-toolbar>
    <button mat-button class="search-button-alternative">Legkedveltebb szállások</button>
    <button mat-button class="search-button-alternative-slim1" (click)="randomIdButton()">Válassz nekem!</button>
    <button mat-button class="search-button-alternative-slim2" (click)="randomIdWithFilterButton()">Válassz úticél
        szerint!</button>
</mat-toolbar>