.searchbar-container {
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-image: url("../../assets/img/bg.jpg");
}

.searchbar {
    margin-left: 30%;
    min-width: 750px;
    max-width: 750px;
    height: 62px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);

    -webkit-box-shadow:inset 0px 0px 0px 4px rgb(109, 106, 106);
    -moz-box-shadow:inset 0px 0px 0px 4px rgb(109, 106, 106);
    box-shadow:inset 0px 0px 0px 4px rgb(109, 106, 106);
}

.search-button {
    margin-left: 30px;
    max-width: 80px;
    min-width: 80px;
    background-color: rgba(20, 104, 58, 0.877);
    color: white;
    transform: scale(1.2);
    font-weight: normal;
}

mat-divider {
    height: 50px;
}

.date {
    border: 0px;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 1px;
    height: 50px;
    max-width: 150px;
    min-width: 150px;
    margin-left: 15px;
}

.search {
    border: 0px;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 1px;
    max-width: 180px;
    min-width: 180px;
    margin-bottom: 3px;
    //min-width: 60px;
}

input:active {
    border: 0px;
    outline: none;
}

input:focus {
    border: 0px;
    outline: none;
}

input::placeholder {
    font-size: large;
    font-weight: lighter;
}