form {
    width: 300px;
}

button {
    width: 300px;
    margin-top: 20px;
    color: white;
    background-color: rgba(20, 104, 58, 0.877);
}

h5 {
    color: gray;
    margin-top: 20px;
}

.loginLink {
    font-weight: bolder;
    color: rgba(20, 104, 58, 0.877);
    cursor: pointer;
}