/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-pagination {
    font-weight: 400;
}

.ngx-pagination .current,
.btn-info {
    background: black !important;
    border-radius: 2px !important;
}

.mat-chip {
    background-color: rgb(201, 196, 196) !important;
    border: 1px solid green !important;
}

.mat-tab-label {
    font-size: x-large !important;
    font-weight: 500 !important;
}

.mat-expansion-panel {
    background-color: #F5F5F5 !important;
    min-width: 700px !important;
    max-width: 700px !important;
}

.mat-expansion-panel-header {
    border-top: 3px solid rgba(20, 104, 58, 0.877) !important;
    margin-bottom: 1px !important;
}

.mat-expansion-panel-body {
    font-size: large !important;
    font-weight: lighter !important;
}